<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<% if @order.user == current_user %>
  <%= link_to 'Edit', edit_order_path(@order) %>
<% end %>
  <%= link_to 'Back', orders_path %>

